<header  class="header" style="z-index:1000" style="background-color: #ff304b;">

    <ion-text style="font-weight:900">{{details['Code']}}</ion-text>
    <ion-label style="font-size:12px;">Max Buy Capacity: {{details['quantity']}}</ion-label>
    
    <ion-icon name='close-circle' (click)='dismiss()' style='height:20px;width:20px;float:right'></ion-icon> 
</header>
<ion-content class="content">
  <ion-grid>
    <ion-row style="margin:10px;padding:10px" >
      <ion-col size-xs="12" >
          <ion-label style="font-weight:bold" >Quantity</ion-label>
          <input type="number" [(ngModel)]="quantity" style="width:80px;margin-left:58px;font-size:12px;" placeholder="Stock Qty"/>
        </ion-col>
        <ion-col size-xs="12" >
          <ion-label style="font-weight:bold" >Current Price</ion-label>
          <ion-text (Click)="buy()" style="margin-left:27px;">${{details.price}}</ion-text>
        </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button id="buyBtn" color="success" style="margin-left:35%;color:white;"  color="secondary" (click)="buy()">Sell</ion-button>
</ion-content>  
