
  <ion-content class="dashboard-content" >
	<ais-instantsearch [config]="config" style="border:1px solid transparent;z-index:0;">
		<ais-current-refinements></ais-current-refinements>
		<ais-refinement-list attribute="Code"></ais-refinement-list>
		<ais-configure [searchParameters]="{ hitsPerPage: 6 }"></ais-configure>
		<ion-toolbar>
			<ion-icon style="font-size:20px;padding:5px;font-weight:900" name = "arrow-back" (click) = "back();"></ion-icon><br/>
			<ion-text class="title" >Welcome!</ion-text><br/>
			<p class="text">Choose your interests to follow and trade on your terms!</p>
			<ais-search-box ></ais-search-box>
		  </ion-toolbar>
		<ais-hits>
		<ng-template let-hits="hits">
		  <ion-grid>
			<ion-row justify-content-center align-items-center  >
			  <ion-col  size-xs="6" offset="0" *ngFor="let hit of hits"  class="ais-Hits-item" class ="ion-text-center ion-no padding" style="padding:0px;padding-bottom:4px;">
				<ion-card (click)="getOverView(hit)" class="search-profile-card">
	            <div style="border-radius: 50%;border:1px solid rgba(128,128,128,0.1);height:50px;width:50px; text-align: center;
				align-items: center;">
				<img src="{{hit.URL}}" alt="logo"  style="height:26px;width:26px;margin-top:25%;"/></div>
				<ion-text style="font-size:16px" class="ion-margin-top">{{hit.Name}}</ion-text>
				<ion-button class="button-small" (click)="toggle(hit.Code)" [ngClass]="followList.includes(hit.Code) === true ? 'my_class1' : 'my_class2'" >{{followList.includes(hit.Code) === true ? "followed" : "follow"}}</ion-button>
			</ion-card>
			</ion-col>
			</ion-row >
		  </ion-grid> 
		  </ng-template>
		</ais-hits>
		<!--<ais-pagination></ais-pagination>-->
	</ais-instantsearch>
</ion-content>





