<header class="dashboard-header">
  <div style="float:left;align-items: left;text-align:left">
    <ion-text class="title">Dashboard</ion-text>
  </div>
  <div style="float:right;margin-top:2px;">
    <ion-icon routerLink="/main-content/search-profile" slot="end"  name="search"></ion-icon>
  </div>
</header>
<ion-content style="margin:0px 15px 5px 15px;--background: #ebf2fb;">
  <ion-row  style="margin:0px15px 5px 15px"> 
    <ion-col size-xs="7">
       <ion-text style="float:left;font-size:16px;font-weight:900;float:left;margin:0px 15px 5px 15px;">Gainers and Losers</ion-text>
    </ion-col>
    <ion-col size-xs="3" offset-xs="2">
      <ion-text style="float:right;color:blue;font-size:14px;" (click)="seeAll()">See all<ion-icon style="padding-left:5px;"name="arrow-forward"></ion-icon></ion-text>
    </ion-col>   
  </ion-row>
   <app-gain-loss></app-gain-loss>
  <ion-row  style="margin:0px 20px 5px 20px"> 
    <ion-col size-xs="7">
       <ion-text style="float:left;font-size:16px;font-weight:900;float:left;margin:0px;">Your Watchlist</ion-text>
    </ion-col>
    <ion-col size-xs="3" offset-xs="2">
      <ion-text style="float:right;color:blue;font-size:14px;" (click)="seeAllWatchList()">See all<ion-icon style="padding-left:5px;"name="arrow-forward"></ion-icon></ion-text>
    </ion-col>   
  </ion-row>
 <app-watchlist></app-watchlist>
</ion-content>
<ion-footer>
  <app-tab></app-tab>
</ion-footer>