<header style="text-align: left;display:flex;flex-direction:column" class="header">
  <ion-text style="font-weight:900">{{details.Code}}</ion-text>
  <ion-text style="font-size:12px;">Max Buy Capacity: {{details.volume}}</ion-text>
</header>
<ion-content class="content">
  <ion-grid>
    <ion-row style="margin:10px;padding:10px" >
      <ion-col size-xs="12" >
          <ion-label style="font-weight:bold" >Quantity</ion-label>
          <input type="number" [(ngModel)]="quantity" style="width:80px;margin-left:58px;font-size:12px;" placeholder="Stock Qty"/>
        </ion-col>
        <ion-col size-xs="12" >
          <ion-label style="font-weight:bold" >Current Price</ion-label>
          <ion-text (Click)="buy()" style="margin-left:27px;">${{details.price}}</ion-text>
        </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button id="buyBtn" color="success" style="margin-left:35%;color:white" ng-click="buy()">Buy Now</ion-button>
</ion-content>  

