<header style="margin:20px">
  <ion-toolbar>
    <ion-grid>
      <ion-row style="display:block;" class="ion-no-margin ion-no-padding">
        <ion-icon style="font-size:20px;padding:5px;font-weight:900" name = "arrow-back" (click) = "back();"></ion-icon>
        <ion-icon  (click)="share()" style="font-size:20px;float:right;padding:5px"  name = "share-outline"></ion-icon>
        <ion-icon  style="font-size:20px;float:right;padding:5px;border-color: black;" color="tertiary" (click)="toggleWatchList()" name = {{starName}}></ion-icon>
      </ion-row>
      <ion-row class="ion-no-margin ion-no-padding" style="padding-top:0px;padding-bottom:0px;">
        <ion-text style="font-size:14px;padding-left:5px;margin-top:0px;" class="text">{{hit.Code}}</ion-text>
      </ion-row>
      <ion-row style="display:block;margin-top:0px">
        <div > 
          <ion-text class = "sub-title">
            {{hit.Name}}
         </ion-text>
          <ion-img src={{hit.URL}} style="height:30px;width:30px;float:right;padding:5px"></ion-img>
        </div>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</header>
<ion-content  style="margin:20px">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button  (click)="showModal()" color="success" style=" --border-radius:15px;width:80px;height:40px;color:white;padding:2px;">
      <ion-icon style="padding-right:50x;font-size:14px;" name="add"></ion-icon>
      <ion-label style="padding-left:10px;">Buy</ion-label>
    </ion-fab-button>
    <ion-fab-button  color="secondary" style=" --border-radius:15px;width:80px;height:40px;color:white;margin-top:10px;">
      <ion-icon style="padding-right:50x;font-size:14px;" name="remove"></ion-icon>
      <ion-label style="padding-left:10px;"> Sell</ion-label>
    </ion-fab-button>
  </ion-fab>
 
  <div style="height:200px;" >
    <div style="display:flex;flex-direction:row;padding:20px;align-items:center;justify-content: space-evenly;">
      <ion-button color="light" class="button-small" style="font-size:10px" (click)="changeTime('daily')">1d</ion-button>
      <ion-button color="light" class="button-small" style="font-size:10px" (click)="changeTime('TIME_SERIES_DAILY',7)">7d</ion-button>
      <ion-button color="light" class="button-small" style="font-size:10px" (click)="changeTime('TIME_SERIES_DAILY',30)">30d</ion-button>
      <ion-button color="light" class="button-small" style="font-size:10px" (click)="changeTime('TIME_SERIES_DAILY',90)">90d</ion-button>
      <ion-button color="light" class="button-small" style="font-size:10px" (click)="changeTime('TIME_SERIES_WEEKLY',24)">6m</ion-button>
      <ion-button color="light" class="button-small" style="font-size:10px" (click)="changeTime('TIME_SERIES_WEEKLY',52)">1y</ion-button>
      <ion-button color="light" class="button-small" style="font-size:10px" (click)="changeTime('TIME_SERIES_MONTHLY')">All</ion-button>
    </div>
    <ngx-charts-line-chart
    [view]="view"
    [scheme]="colorScheme"
    [legend]="legend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [timeline]="timeline"
    [results]="ngxData.data"
    [rangeFillOpacity] ="rangeFillOpacity"
></ngx-charts-line-chart>
 </div>
 <ion-grid>
    <ion-button color="primary button-medium" style="width:80%;margin-left:10%;" [ngClass]="followList.includes(hit.Code) === true ? 'my_class1' : 'my_class2'" (click)="updateFollowList()">{{followList.includes(hit.Code) === true ? "Followed" : "Follow"}}</ion-button>
  <ion-row  style="margin:20px;"> 
    <ion-col size="2">
       <ion-text style="float:left;font-size:20px;padding:5px;font-weight:900;float:left">News</ion-text>
    </ion-col>
    <ion-col size="4" offset="6">
      <ion-text style="float:right;color:blue;font-size:14px;" (click)="seeAll()">See all<ion-icon style="padding-left:5px;"name="arrow-forward"></ion-icon></ion-text>
    </ion-col>
  </ion-row>
  <app-news></app-news>
  <ion-row>
 </ion-row>
</ion-grid>

<!--<ion-fab vertical="top" horizontal="end" slot="fixed" color="primary">
  <ion-fab-button id="trigger-buy" color="success" style=" --border-radius:15px;width:80px;height:30px;color:white">
    <ion-icon name="add"></ion-icon>
    <ion-label>Buy</ion-label>
  </ion-fab-button>
</ion-fab>
<ion-fab >
<ion-fab-button color="secondary" style="--border-radius:15px;width:80px;height:30px;color:white">
  <ion-icon name="remove"></ion-icon>
  <ion-label>Sell</ion-label>
</ion-fab-button>
</ion-fab>-->
 </ion-content>
 <ion-footer >
     <app-tab></app-tab>
</ion-footer>


 

